.hidden{
  display: none !important;
}

.text-base{
  font-size: 32px;
  font-family: $ff-text-base;
  color: $cinza;
}

.video-home-fullscreen{
  height: 100% !important;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: -9;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: $preto;
  outline: 1px solid $preto;
  border-radius: 5px;
}

#sobre-mim{
  background-color: $preto;
}

.social-list{
  li{

    &:nth-child(1){
      a{
        padding: 6px 13px 6px 15px !important;
      }
    }
    a{
      font-size: 26px;
      width: auto;
      height: auto;
      padding: 6px 13px;
      border: 1px solid $cinza;

      &:hover{
        background-color: $cinza;
        color: $preto;
      }
    }
  }
}


.text-work{
  font-family: $ff-default !important;
  font-size: 4em !important;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-transform: lowercase;
}


.icon-origami{
  width: 60px;
}

.photo-me{
  margin-top: 80px;
  border-radius: 10px;
  filter: blur(5px) grayscale(80%);
  @extend .trans;

  &:hover{
    filter: blur(0px) grayscale(0%);
  }
}