.button_menu_gray{
  span{
    background: $cinza !important;
  }
  
  &.active{
    span{
      background: $preto !important;
      height: 3px;
    }
  }
}

.button_menu_red{
  span{
    background: $vermelho !important;
  }

  &.active{
    span{
      background: $vermelho !important;
      height: 3px;
    }
  }
}