$preto: #000000;
$branco: #FFFFFF;
$cinza: #F5F5F5;

$color-background: #F5F5F5;
$vermelho: #a40500;
$color-active: #FFF;
$color-link: #FFF;

.dot-gray{
  &:before{
    color: $cinza !important;
  }
}