@import url('https://fonts.googleapis.com/css?family=Karma|Yeon+Sung');

$ff-raleway: 'Raleway', sans-serif;
$ff-yeonsung: 'Yeon Sung', cursive;
$ff-karma: 'Karma', serif;

$ff-default: $ff-yeonsung;


